/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14 mai 2018, 16:35:58
    Author     : Charlene
*/

#entete {
    background-color: #80b3ff
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}

#titreAccueil {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: thin dotted;
    border-bottom-color: #80b3ff;
    text-align: center;
}

#titreTableau {
    background-color: #E6E6E6
}

#interventionTableau {
    background-color: #b3d1ff
}

#interventionFormulaire {
    text-align: center;
    text-decoration: none;
    font-family: Georgia, "Times New Roman",Times, serif;
    font-weight : bold;
    font-style: inherit;
    font-size: large;
}

#validerButton {
    background-color: #80b3ff; 
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}